<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Saved Articles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <a class="btn btn-primary btn-lg" href="" role="button">Clear Articles</a>

        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Saved Articles</h1>
    </div>
</div>
{{#each savedArticles}}
{{#if this.saved}}
<div class="card rounded">
    <div class="card-header">
        <a href='{{this.link}}'>{{this.title}}</a>
    </div>
    <div class="card-body">
        <p>{{this.summary}}</p>
        <br>
        <button data-id='{{this._id}}' class="btn btn-info delete-article">Delete Article</button>
        <button data-id="{{this._id}}" class="btn btn-info notes">Add a Note</button>
        <br>
        {{!-- <div class="bootbox modal fade show" tabindex="-1" role="dialog" style="padding-right: 17px; display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                            style="margin-top: -10px;">×</button>
                        <div class="bootbox-body">
                            <div class="container-fluid text-center">
                                <h4>Notes For Article: </h4>
                                <hr>
                                <ul class="list-group note-container">
                                    <li class="list-group-item">No notes for this article yet.</li>
                                </ul><textarea placeholder="New Note" rows="4" cols="60"></textarea><button
                                    class="btn btn-success save">Save Note</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
</div>
{{/if}}
{{/each}}